*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
    background-color: antiquewhite;
    overflow: hidden;
}
/* Header Section */
nav ul{
    height: 65px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}
ul li{
    padding: 0 12px;
}
ul .logo{
    height: 30px;
    display: flex;
    align-items: center;
}
nav ul li img{
    height: 40px;
    width: 40px;
    margin-inline: 8px;
}
nav ul .logo span{
    font-weight: 570;
}
/* Main Section */
.container{
    min-height: 70vh;
    background-color: rgb(85, 82, 82);
    color: white;
    margin: 20px auto;
    width: 70vw;
    border-radius: 10px;
    padding: 30px;
    background-image: url('bg.jpg');
    background-size: cover;
}
.bottom{
    height: 120px;
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#progressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 15px;
    cursor: pointer;
}
#mastersongplay{
    transition: all .3s ease-in;
}
.songitem{
    background-color: white;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20px;
}
.songitem img{
    height: 30px;
    width: 40px;
    background-size: cover;

}
.timestamp{
    padding: 0 15px;
}
.songcontainer{
    width: 50%;
    height: 350px;
    overflow-y: scroll;
    scrollbar-color: inherit;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.songinfo{
    position: absolute;
    left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition: 0.3s ease-in;
}