*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
    background-color: antiquewhite;
}
/* Header Section */
nav ul{
    height: 65px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}
ul li{
    padding: 0 12px;
}
ul .logo{
    height: 30px;
    display: flex;
    align-items: center;
}
nav ul li img{
    height: 40px;
    width: 40px;
    margin-inline: 8px;
}
nav ul .logo span{
    font-weight: 570;
}
/* Main Section */
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    margin: 20px auto;
    width: 70vw;
    border-radius: 10px;
    padding: 30px;
    background-image: url('bg.jpg');
    background-size: cover;
}
.bottom{
    height: 120px;
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#progressBar{
    width: 80vw;
}
.icons{
    margin-top: 15px;
    cursor: pointer;
}